<%= stylesheet_link_tag params[:controller] %>
<p id="notice"><%= notice %></p>



<h1 class="booknew1">Business</h1>
<div class="w3-auto" >
<div class="container">
<div class="row">
  


    <% @booknews.each do |booknew| %>
      <div class="col"  >
      <div  class="w3-card"style="width:18rem;"> <img  style=" float: left; clear:left;" class="post-thumb " src=<%=  booknew.img.url %>></div>
        <div class="post-content ">
        <br><%= booknew.category %>
        <br><%= booknew.bookname %></p>
        <br><%= booknew.description %><p>
        <br><%= booknew.price %></p>
        <br><%= booknew.bookarrivals %></p>
        <br><%= booknew.language %></p>
        <br><%= booknew.author %></p>
        <br><%= booknew.itemcondition %></p>
        <br><%= booknew.availability %></p>
        
        
        
       </div>
        
        
        
      </div>
    <% end %>
  </div>
  </div>
</div>
<style>    
.container{
    margin: 20px 20px 0 0;  
    
}

.post-thumb img {
    float: left;
    clear:left;
    align: left;
}

.post-content {
    float:right;
}
</style>